body {
    background-color: black;
    background-image: linear-gradient(#d4b585, #c5b19421);
    height: 99vh;
}
#container {
    z-index: -2;
    border: 1px solid black;
    background-color: #EECD9C;
    background-image: url('./assets/Background/Daedric-Text.png'), 
    -moz-linear-gradient(top, #EECD9C 0%, black 100%);
    background-image: url('./assets/Background/Daedric-Text.png'), 
    -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EECD9C), color-stop(100%, black));
    background-image: url('./assets/Background/Daedric-Text.png'), 
    linear-gradient(to bottom, #EECD9C, black);
    background-position-y: -3vh;
    position: absolute;
    top: 10vh;
    width: 99vw;
    text-align: center;
    margin: auto;
    margin-left: -1vw;
    margin-right: -1vw;
}

canvas {
    border: 10px solid black;
    display: inline;
    margin-top: 20px;
    margin-bottom: 20px;
}
#enemyCanvas {
    position: relative;
    top: -640px;
    margin-bottom: -600px;
    z-index: -1;
}
#playerCanvas {
    z-index: 1;
}
#background{
    position: absolute;
    z-index: -1;
    background-color: black;
}
h1 {
    font-size: 4rem;
    margin-bottom: -2vh;
    margin-top: 1vh;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
}
#healthBars{
    display: flex;
    justify-content: space-between;
}
div[id*="Healthbar"]{
    display: inline-block;
    width: 25vw;
}
img[id*="Icon"] {
    width: 4.5vw;
    height: 4.5vw;
    margin-top: 10px;
    margin-left: 0.9vw;
    margin-right: 0.9vw;
    background-color: #FFDEAD;
    border-radius: 100%;
    box-shadow: inset 0 0 10px black;
}
#playerHealthbar {
    background-image: url('./assets/Health_Bar/player_health_bar.png');
    background-size: 100%;
    margin-left: 2vw;
    text-align: left;
}
#enemyHealthbar {
    background-image: url('./assets/Health_Bar/enemy_health_bar.png');
    background-size: 100%;
    margin-right: 2vw;
    text-align: right;
}
img[id*="HealthIndicator"]{
    width: 77%;
    height: 40;
    top: -1vw;
    position: relative;
    margin-left: -0.6vw;
    margin-right: -0.3vw;
}
#playerHealthIndicator {
    left: -0.75vw;
}
#enemyHealthIndicator {
    right: -0.75vw;
}
#startBtn {
    z-index: 100;
    background-color: rgba(rgba(255, 0, 0, 0), rgba(0, 128, 0, 0), rgba(0, 0, 255, 0), 0);
    background-image: url("./assets/banner.png");
    background-size: cover;
    font-size: 4rem;
    width: 17rem;
    height: 8rem;
    background-position-x: center;
    background-color: rgba(255, 0, 0, 0);
    border: none;
    text-align: center;
    position: relative;
    left: 43vw;
    top: 25vh;
    margin: auto;
}
div[id*="countdown"]{
    font-size: 5rem;
    color: white;
    position: relative;
    bottom: 20vh;
    margin-bottom: -6vh;
}
#countdown3{
    opacity: 0;
}
#countdown2{
    opacity: 0;
    bottom: 22vh;
}
#countdown1{
    opacity: 0;
    bottom: 24.5vh;
}
#countdownF{
    opacity: 0;
    bottom: 28.5vh;
}
#victory{
    position: absolute;
    width: 15vw;
    z-index: 100;
    left: 42vw;
    top: 20vh;
    opacity: 0;
}
#gameOver{
    position: absolute;
    width: 15vw;
    left: 42vw;
    top: 20vh;
    opacity: 0;
}